body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    background-color:black; /* Optional background color */
    color: white;
}
html {
    scroll-behavior: smooth;
}


h1 {
    margin: 20px 0; /* Space above and below the heading */
}

.container {
    width: 1000px; /* Full width of the screen */
    display: flex;
    justify-content: center;
    gap: 10px; /* Space between images */
    position: relative; /* Set position relative for images */
    text-decoration: none;
}

.container img {
    width: 50px; /* Initial width */
    height: 350px; /* Set a fixed height */
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: width 0.5s ease; /* Smooth transition */
}
.card{
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 1px 8px dimgrey;
    overflow: hidden;
    width: 300px;
    text-align: center;
    margin: 50px;
    
    
}
.card-image{
    width: 200px;
    height: 250px;
    margin: 10px;

}
.card-content{
    padding: 15px;

}
.card-title{
    font-size: 1.5em;
    margin: 10px 0;
}
.card-description{
    color:aliceblue;
    text-decoration: none;

}
.card-container{
    display: flex;
flex-wrap: wrap;
justify-content: center;
}
h2{
    color: white;
    text-decoration: none !important;

    
}


.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

h3 {
    color: pink;
    text-align: center; /* Center the heading */
    margin-top: 20px; /* Space from top */
}

.content{
    display: flex;
    align-items: center; /* Center items vertically */

}
.left-image{
    max-width: 300px; /* Fixed width for image */
    height: auto; /* Maintain aspect ratio */
    margin-left: 20px;/* Space between image and text */
    padding: 30px;
}
p {
    flex: 1; 
line-height: 1.6; /* Improve line spacing */
}